@media screen and (max-width: 1200px) {
    #icerik .baslik h1{
        font-size: 150%;

    }

    #icerik .part h1, .part2 h1{
        font-size: 120%;
    }
    #icerik .part p, .part2 p{
        font-size: 100%;
        text-align: justify;
    }

    #icerik .part2 .sol{
        width: 100%;
        clear: left;
    
    }
    #icerik .part2 .sag{
        width: 100%;
        clear: right;
    
    }
    #icerik .part3 img{
        width: 100%;
    }
    #icerik .part3{
        width: 100%;
        padding: 0;
        margin: 0;
    }
}
  
@media screen and (min-width: 1000px) {
    
}